# === Core: Chatbot TVTS ===
flask
pymongo
python-dotenv
pydantic>=2.0
google-generativeai
openai

# Embedding + Vector search
sentence-transformers
rapidfuzz

# Intent detection (thefuzz)
thefuzz
python-Levenshtein
